@font-face {
    font-family: "inter";
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --blue: hsl(227, 92%, 58%);
    --gunmetal: hsl(215, 31%, 21%);
    --electric-blue: hsl(215, 17%, 45%);
    --white: hsl(0, 0%, 100%);

    --side-spacing: 24px;

    --leading-normal: 1.1;
    --leading-loose: 1.5;

    @media(width >= 40em) {
        --side-spacing: 40px;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "inter";
    color: var(--gunmetal);

    h1, h2, h3, h4, legend, .result {
        font-weight: 600;
        line-height: var(--leading-normal);
    }

    h1, h2, h3, h4, legend {
        letter-spacing: -0.05em;
    }

    h1, .result {
        font-size: clamp(3rem, 1.333rem + 4.17vw, 4rem);
    }

    h2 {
        font-size: clamp(2rem, 0.333rem + 4.17vw, 3rem);
    }

    h3, legend {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        line-height: var(--leading-loose);
        color: var(--electric-blue);
    }

    img,
    input[type="number"] {
        width: 100%;
    }

    section:not(.definition) {
        padding-inline: var(--side-spacing);
    }
}


header {
    position: absolute;
    width: 100%;
    height: 96px;
    display: grid;
    place-items: center;

    .logo {
        max-width: 36.7px;

        @media (width >= 64em) {
            max-width: 58.75px;
        }
    }
}

main {
    .hero {
        padding-block: 96px 217px;
        background: linear-gradient(-45deg, hsla(216, 95%, 92%, 1) 0%, hsla(216, 95%, 92%, 0) 100%);
        border-radius: 0 0 35px 35px;
        position: relative;
        
        > div {
            display: flex;
            flex-direction: column;
            gap: 24px;
            text-align: center;
            align-items: center;
        }

        @media(width >= 40em) {
            padding-block: 112px 286px;

            h1 {
                max-width: 16ch;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }

    .calculator {
        position: relative;
        background: var(--white);
        padding: 24px;
        box-shadow: 16px 32px 56px 0 hsla(211, 40%, 69%, 0.25);
        border-radius: 16px;
        margin-block: -170px 72px;
        z-index: 2;
        overflow: hidden;

        fieldset {
            border: none;
            
            > * {
                margin-bottom: 24px;
            }
            
            > div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 16px 24px;

                .metric-wrapper,
                .imperial-wrapper {
                    label {
                        display: flex;
                        align-items: center;
                        gap: 18px;
                        position: relative;
                        font-size: 1rem;
                        line-height: var(--leading-loose);
                        font-weight: 600;

                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;

                            &:checked ~ .checker {
                                background-color: hsl(from var(--blue) h s l / 0.15);
                                border: none;
                            }

                            &:checked ~ .checker:after {
                                display: block;
                            }
                        }

                        .checker {
                            border: 1px solid var(--electric-blue);
                            height: 30px;
                            width: 30px;
                            background-color: var(--white);
                            border-radius: 50%;

                            &::after {
                                content: '';
                                position: absolute;
                                display: none;
                                inset: 8px;
                                width: 15px;
                                height: 15px;
                                background: var(--blue);
                                border-radius: 50%;
                            }
                        }
                    } 
                }

                .height,
                .weight {
                    grid-column: 1 / span 2;

                    label {
                        font-size: 0.875rem;
                        color: var(--electric-blue);
                        line-height: var(--leading-loose);
                    }

                    .container {
                        display: flex;
                        gap: 16px;
                        margin-top: 8px;
                        position: relative;

                        input {
                            border-radius: 12px;
                            border: 1px solid var(--electric-blue);
                            font-size: 1.5rem;
                            padding: 20px 15% 20px 24px;

                            &:focus-visible {
                                outline-color: var(--blue);
                            }
                        }

                        .unit {
                            position: absolute;
                            display: flex;
                            align-items: center;
                            height: 100%;
                            right: 0;
                            padding: 20px 24px;
                            font-size: 1.5rem;
                            color: var(--blue);
                            font-weight: 600;
                            letter-spacing: -0.05em;
                        }
                    }
                }

                .height:has(.container input ~ *) {
                    grid-row: 1;
                    grid-column: 1 / span 2;
                }

                .height:has(.container input ~ *) ~ .weight {
                    grid-row: 2;
                    grid-column: 1 / span 2;
                }
            }
        }

        .wrapper {
            background: var(--blue);
            color: var(--white);
            padding: 32px;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .small {
                font-size: 0.875rem;
                color: var(--white);

                span {
                    font-weight: 600;
                }
            }
    
            &.calculated {
                display: none;

                .bmi {
                    font-weight: 600;
                    color: var(--white);
                }

                .result {
                    display: block;
                    margin-top: 8px;
                    color: var(--white);
                }
            }
        }
    
        @media(width >= 40em) {
            margin-block: -246px 96px;

            fieldset {
                > * {
                    margin-bottom: 32px;
                }

                > div {
                    align-items: end;

                    .height,
                    .weight {
                        grid-column: auto;

                        .container {
                            gap: 24px;
                        }
                    }
                }
            }

            .wrapper {
                border-top-right-radius: 10vw;
                border-bottom-right-radius: 10vw;
            }
        } 
    }

    .definition {
        > div {
            padding: 48px 24px 64px;

            h2 {
                margin-bottom: 32px;
            }
        }
    }

    .steps {
        padding-block: 64px 36px;
        background: linear-gradient(-45deg, hsla(216, 95%, 92%, 0.25) 0%, hsla(216, 95%, 92%, 0) 100%);

        ul {
            list-style-type: none;

            li {
                margin-block: 20px;

                img {
                    max-width: 64px;
                    margin-bottom: 32px;
                }

                div h3 {
                    margin-bottom: 24px;
                }
            }
        }
    }

    .limitations {
        padding-block: 72px 96px;
        display: grid;
        gap: 16px;

        .limit-text {
            text-align: center;
            margin-bottom: 48px;
                
            h2 {
                margin-bottom: 32px;
            }
        }

        .card {
            box-shadow: 16px 32px 56px 0 hsla(211, 40%, 69%, 0.25);
            background: var(--white);
            border-radius: 16px;
            padding: 24px;

            h4 {
                margin-bottom: 16px;
                display: flex;
                align-items: center;

                &::before {
                    margin-right: 16px;
                }

                &.gender::before {
                    content: url(../assets/images/icon-gender.svg);
                }

                &.age::before {
                    content: url(../assets/images/icon-age.svg);
                }

                &.muscle::before {
                    content: url(../assets/images/icon-muscle.svg);
                }

                &.pregnancy::before {
                    content: url(../assets/images/icon-pregnancy.svg);
                }

                 &.race::before {
                     content: url(../assets/images/icon-race.svg);
                }
            }
        }
    }
}